
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: solid black;
}

.header h1 {
    font-weight: 400;
}

img {
    max-width: none;
}

.search-icon, .comment-bubble {
    width: 15px;
    height: 15px;
}

.post-video {
    max-width: 500px;
    max-height: 800px;
}