
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(to bottom right, #ff0000 10%, orange);
    background-attachment: fixed;
}

.App {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.header {
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: solid black;
}

.logo {
    position: relative;
    top: 3.5px;
}

.header h1 {
    font-weight: 400;
}

.reddit {
    color: transparent;
    background: linear-gradient(to bottom right, #ff0000 10%, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.searchbar {
    margin: 20px;
}

.searchbar #search-term {
    padding: 15px;
    border-radius: 10px;
    border: solid black;
    font-size: 15px;
    width: 200px;
}

.searchbar .search-icon {
    padding: 0px;
}

.searchbar #search-button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: 34px;
    top: 1.7px;
}

.searchbar #search-button:hover {
    cursor: pointer;
}

.search-icon, .comment-bubble {
    width: 15px;
    height: 15px;
}

ul {
    list-style: none;
}

.posts .post {
    background-color: white;
    padding: 10px;
    width: 750px;
    display: flex;
    flex-flow: row;
    border: solid black 4px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.post .votes {
    font-weight: 600;
    font-size: larger;
}

.votes .heart {
    width: 20px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.number-votes {
    font-weight: 400;
}

.subreddit {
    font-weight: 400;
    font-size: 15px;
    position: relative;
    left: 5px;
    margin-top: 3px;
    color: gray;
}

.posts li h1 {
    padding: 5px;
}

.card .thumbnail, .post-video {
    max-width: 500px;
    max-height: 500px;
}

.card {
    width: 100%;
}

.card .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px;
    border-bottom: solid black;
    padding-bottom: 15px;
}

.title {
    max-width: 100%;
}

.loading {
    width: 60px;
    margin-top: 100px;
}

.body-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-content h1 {
    float: left;
    text-align: left;
}



.selftext{
    word-spacing: 4px;
    font-size: 20px;
    max-width: 90%;
}

.card .card-bottom {
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    float: left;
    font-weight: 500;
    padding-bottom: 8px;
}

.card .comments-link {
    display: flex;
}

.card .comments-link img {
    position: relative;
    left: 5px;
    top: 4px;
}

.card .comments-link:hover {
    cursor: pointer;
    transition: all ease 0.5s;
    text-decoration: underline;
}

.comment-section {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    border-top: black solid;
    padding-top: 15px;
}

.comment-section .comments ul {
    display: flex;
    flex-flow: column wrap;
}

.comment-section .comments li {
    padding: 8px;
    border: solid 2px black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.comments ul li p {
    width: 100%;
}

.comments .comment-author {
    font-weight: 600;
    margin-bottom: 3px;
}

.comments .comment-votes {
    font-weight: 500;
}

.comments img {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
}