
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: gray;
}

.App {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
    border-bottom: solid black;
}

.header h1 {
    font-weight: 400;
}

.searchbar {
    margin: 20px;
}

.searchbar #search-term {
    padding: 10px;
    border-radius: 10px;
    border: solid black;
}

.searchbar .search-icon {
    padding: 0px;
}

.searchbar #search-button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: 34px;
    top: 1.7px;
}

.searchbar #search-button:hover {
    cursor: pointer;
}

.search-icon, .comment-bubble {
    width: 15px;
    height: 15px;
}

ul {
    list-style: none;
}

li {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 750px;
    display: flex;
    flex-flow: row;
    border: solid black 4px;

}

li .votes {
    font-weight: 600;
    font-size: larger;
}

.votes .heart {
    width: 20px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

li h1 {
    padding: 5px;
}

.card .thumbnail, .post-video {
    max-width: 500px;
    max-height: 500px;
}

.card {
    width: 100%;
}

.card .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%px;
    margin: 10px;
}

.title {
    max-width: 100%;
}

.selftext{
    word-spacing: 4px;
    font-size: 20px;
    overflow: scroll;
    max-width: 90%;
    margin-top: 10px;
}

.card .card-bottom {
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    float: left;
}

.card .comments {
    display: flex;
}

.card .comments img {
    position: relative;
    left: 4px;
    top: 2px;
}

.card .comments:hover {
    cursor: pointer;
    transition: all ease 0.5s;
    text-decoration: underline;
}